html{
	background-color: gray;
}

h1{
	font-family: helvetica;
	font-size: 80px;
	color: white;
	padding-left: 30px
}
p{
	font-family: courier ;
	font-size: 42px;
	padding-left: 30px;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: green;
} 
a.navigation:hover, a.navigation:active {font-family: helvetica;}
a:hover {
  background-color: pink;
}
img{
	height: 400px;
	width: auto;
	padding-left: 150px
}
p{
	width: 1100px;
}
ul{
	font-family: courier ;
	font-size: 35px;
	padding-left: 180px;

}